ul {
    list-style-type: none;
}

.main-container{
    height: 11in;
    width: 8.5in;
    background-image: url('./staffan-kjellvestad-38854.jpg');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 100px;
}

.name {
    position: absolute;
    top: 5%;
    left: 5%;
    color: #43544e;
    font-family: 'Megrim', cursive;
    font-size: 50px;
}
.main-info {
    position: absolute;
    top: 3.5%;
    left: 55%;
    color: #43544e;
    font-family: 'Rajdhani', cursive;
    font-size:15px;
}

.text {
    position: absolute;
    top: 90%;
    left: 10%;
    color: #c5c5c5;
    font-family: 'Rock Salt', cursive;
    font-size: xx-large;
}

.line {
    position: absolute;
    background-color: #43544e;
    width: 1px;
}
.one {
    top: 4%;
    left: 58%;
    height: 100px;
}
.two {
    top: 85%;
    left: 10%;
    height: 100px;
    width: 2px;
    background-color: #c5c5c5;
}
.three {
    top: 20%;
    left: 39%;
    height: 350px;
    width: 1px;
    background-color: #3f4d48;
}
.projects-title {
    position: absolute;
    top: 36%;
    left: 31%;
    font-family: 'Megrim', cursive;
    color: #43544e;
    font-size: 20px;
    transform: rotate(270deg);
}
.venture-line-one {
    position: absolute;
    width: 1px;
    height: 224px;
    background-color: #43544e;
    top: 18%;
    left: 83%;
}
.venture-title {
    position: absolute;
    top: 20%;
    left: 84%;
    color: #43544e;
    font-family: 'Megrim', cursive;
    font-size: 18px
}
.venture-tech-line {
    position: absolute;
    top: 25%;
    left: 94%;
    height: 90px;
    width: 1px;
    background-color: #43544e;
}
.venture-tech-title {
    position: absolute;
    top: 26%;
    left: 93.5%;
    color: #43544e;
    font-family: 'Rajdhani', cursive;
    font-size: 17px;
    transform: rotate(90deg);
    text-transform: uppercase;
}
.venture-tech {
    position: absolute;
    top: 22%;
    left: 81.5%;
    color: #43544e;
    font-family: 'Rajdhani', cursive;
    font-size: 13px;
}
.venture-tech li {
  text-align: right;
}

.four {
    top: 16%;
    left: 11%;
    height: 150px;
    width: 1px;
    background-color: #43544e;
}
.skills-title {
    position: absolute;
    top: 22%;
    left: 5%;
    font-family: 'Megrim', cursive;
    color: #43544e;
    font-size: 20px;
    transform: rotate(270deg);
}
.skills-list {
    position: absolute;
    top: 12%;
    left: 8%;
    font-family: 'Rajdhani', cursive;
    color: #43544e;
    font-size: 15px;
}
.five {

}
.six {

}
.seven {

}