ul {
    list-style-type: none;
}

.main-container{
    height: 11in;
    width: 8.5in;
    background-image: url('staffan-kjellvestad-38854.jpg');
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
}

.name {
    position: absolute;
    top: 5%;
    left: 5%;
    color: #43544e;
    font-family: 'Megrim', cursive;
    font-size: 50px;
}
.web-developer {
    position: absolute;
    top: 11%;
    left: 16%;
    color: #43544e;
    font-family: 'Rajdhani', cursive;
    text-transform: uppercase;
}
.main-info {
    position: absolute;
    top: 3.5%;
    left: 55%;
    color: #43544e;
    font-family: 'Rajdhani', cursive;
    font-size:15px;
}

.text {
    position: absolute;
    top: 90%;
    left: 10%;
    color: #c5c5c5;
    font-family: 'Rock Salt', cursive;
    font-size: xx-large;
}

.line {
    position: absolute;
    background-color: #43544e;
    width: 1px;
}
.one {
    top: 4%;
    left: 58%;
    height: 100px;
}
.two {
    top: 85%;
    left: 15%;
    height: 159px;
    width: 1px;
    background-color: white
}
.three {
    top: 22%;
    left: 26%;
    height: 614px;
    width: 1px;
    background: linear-gradient(to bottom, rgb(63,77,72), rgba(63,77,72,0));
}
.projects-title {
    position: absolute;
    top: 19%;
    left: 26%;
    font-family: 'Rajdhani', cursive;
    color: #43544e;
    font-size: 25px;
    /*transform: rotate(270deg);*/
    text-transform: uppercase;
}
.project-line {
    position: absolute;
    top: 22%;
    left: 26%;
    height: 1px;
    width: 72px;
    background-color: #43544e;
}

.venture-line-one {
    position: absolute;
    width: 1px;
    height: 355px;
    background-color: #43544e;
    top: 18%;
    left: 83%;
}
.venture-title {
    position: absolute;
    top: 21%;
    left: 82%;
    color: #43544e;
    font-family: 'Rajdhani', cursive;
    font-size: 20px;
    text-transform: uppercase;
}
.venture-tech-line {
    position: absolute;
    top: 31%;
    left: 94%;
    height: 90px;
    width: 1px;
    background-color: #43544e;
}
.venture-tech-title {
    position: absolute;
    top: 32%;
    left: 93.5%;
    color: #43544e;
    font-family: 'Rajdhani', cursive;
    font-size: 17px;
    transform: rotate(90deg);
    text-transform: uppercase;
}
.venture-tech {
    position: absolute;
    top: 28%;
    left: 81.5%;
    color: #43544e;
    font-family: 'Rajdhani', cursive;
    font-size: 13px;
}
.venture-tech li {
  text-align: right;
}
.venture-description {
    position: absolute;
    top: 24%;
    left: 30%;
    height: 20px;
    width: 421px;
    color: #43544e;
    font-family: 'Rajdhani', cursive;
    text-align: right;
}
.venture-points {
    position: absolute;
    top: 32%;
    left: 23%;
    color: #43544e;
    font-family: 'Rajdhani', cursive;
    text-align: right;
}
.venture-points li {
    margin: 10px;
    width: 423px;
}
.venture-award {
    position: absolute;
    top: 53%;
    left: 45%;
    color: #43544e;
    font-family: 'Rajdhani', cursive;
}

.topsecret-main-line {
    position: absolute;
    width: 1px;
    height: 257px;
    background-color: #c5c5c5;
    top: 60%;
    left: 83%;
}
.topsecret-title {
    position: absolute;
    top: 65%;
    left: 83%;
    color: white;
    font-family: 'Rajdhani', cursive;
    font-size: 15px;
    text-transform: uppercase;
}
.topsecret-description {
    position: absolute;
    top: 60%;
    left: 30%;
    height: 20px;
    width: 421px;
    color: white;
    font-family: 'Rajdhani', cursive;
    text-align: right;
}
.topsecret-points {
    position: absolute;
    top: 70%;
    left: 42%;
    color: white;
    font-family: 'Rajdhani', cursive;
    text-align: right;
}
.topsecret-points li {
    margin: 10px;
}
.topsecret-tech-line {
    position: absolute;
    top: 74%;
    left: 94%;
    height: 90px;
    width: 1px;
    background-color: #c5c5c5;
}
.topsecret-tech-title {
    position: absolute;
    top: 76%;
    left: 93.5%;
    color: white;
    font-family: 'Rajdhani', cursive;
    font-size: 17px;
    transform: rotate(90deg);
    text-transform: uppercase;
}
.topsecret-tech {
    position: absolute;
    top: 74%;
    left: 81.5%;
    color: white;
    font-family: 'Rajdhani', cursive;
    font-size: 13px;
}
.topsecret-tech li {
    text-align: right;
}

.education-title {
    position: absolute;
    top: 90%;
    left: 8%;
    transform: rotate(270deg);
    color: white;
    font-family: 'Rajdhani', cursive;
    text-transform: uppercase;
    font-size: 20px;
}
.education-list {
    position: absolute;
    top: 86%;
    left: 11%;
    font-family: 'Rajdhani', cursive;
    color: white;
}
.education-list li {
    margin: 10px;
}

.four {
    top: 29%;
    left: 8.15%;
    height: 164px;
    width: 1px;
    background-color: #43544e;
}
.skills-title {
    position: absolute;
    top: 39%;
    left: 2%;
    font-family: 'Rajdhani', cursive;
    color: #43544e;
    font-size: 20px;
    transform: rotate(270deg);
    text-transform: uppercase;
}
.skills-list {
    position: absolute;
    top: 24%;
    left: 5%;
    font-family: 'Rajdhani', cursive;
    color: #43544e;
    font-size: 15px;
}
.soft-skills {
    position: absolute;
    top: 44%;
    left: -2%;
    font-family: 'Rajdhani', cursive;
    color: #43544e;
}
.skills-divider {
    position: absolute;
    top: 469px;
    left: 0;
    height: 1px;
    width: 67px;
    background-color: #43544e;
}
.five {

}
.six {

}
.seven {

}